$color-primary: #3e3e58;
$color-lightblue: #3dbdb6;
$color-blue: #2d8cff;
$color-white: #ffffff;
$color-dark: #333333;
$color-grey: #72808e;
$color-darkblue: #0b5e6e;
$color-lightgrey: #eeeeee;
$color-darkgrey: #4a4a4a;
$color-paynegrey: #39394d;
$color-secondary: #1f2532;
$color-darkindigo: #081941;
